@{
    Layout = null;
}
<div id="createProject">
    <h3>NOWY PROJEKT</h3>
    <div>
        <input class="form-control red-input" type="text" name="Name" placeholder="NAZWA PROJEKTU"/>
    </div>
    <div>
        <textarea rows="6" class="form-control red-input opacity-input" name="Description">Opis projektu</textarea>
    </div>
    <div>
        <label class="fileContainer">
            <span>Wczytaj logo projektu</span>
            <input class="file" type="file" name="ImageThumbnail" />
        </label>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
            <button class="btn-lg red-button create-project">UTWÓRZ</button>
        </div>
    </div>
</div> 
@Html.AddScript("/Parts/Project/Scripts/bb-createProject.js")
@Html.ExecuteScript("new createProject.app();")
@Html.AddCss("/Parts/Project/Styles/project.css")