@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @Html.Action("ProjectListView", "Project")
    @Html.Action("CreateProjectView", "Project")
    @Html.Action("LabelListView", "Project")
</div>



