@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.body_class = "no-menu";
}
<div class="container">
    <div class="col-sm-6">
        @Html.Action("CreateProjectView", "Project")
    </div>
    <div class="col-sm-6">
        @Html.Action("ProjectListView", "Project")
    </div>
</div>



