@{
    Layout = null;
}

<div id="labelList">
    <div class="labelList">
        <div class="labels-container"></div>
    </div>
</div>

<script type="text/template" id="labelView-template">
    <%=Name%>
</script>

@Html.AddScript("/Parts/Project/Scripts/bb-labelList.js")
@Html.ExecuteScript("new labelList.app();")