@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @Html.ActionLink("Dodaj zgłoszenie", "CreateTaskView")
    @Html.Action("TaskListView", "Task")
    @Html.Action("LabelListView", "Project")
    @Html.Action("CreateLabelView", "Project")
</div>
