@model TaskShelf_www.Parts.Task.Models.TaskReviewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" id="taskReview">
    <div class="task-container">
        
    </div>
    <div class="attachment-container">

    </div>
    <div class="label-container">

    </div>
    <div class="comment-template">

    </div>  
    <select class="label">
    </select>
</div>


<script type="text/template" id="taskView-template">
    <div>
        <strong>Nazwa </strong><%=Name%>
    </div>
    <div>
        <strong>Opis </strong><%=Description%>
    </div>
    <div>
        <strong>Data utworzenia </strong><%=CreateDate%>
    </div>
    <div>
        <strong>Przewidywany czas na wykonanie </strong><%=ExpectedWorkTime%>
    </div>
    <div>
        <strong>Data ukończenia </strong><%=CompletedDate%>
    </div>
    <div>
        <strong>Status </strong><%=Status%>
    </div>
    <div>
        <strong>Typ </strong><%=Type%>
    </div>
    
</script>

<script type="text/template" id="attachmentView-template">
    <div>
        <strong>Plik:  </strong><%=FileName%>
    </div>
</script>

<script type="text/template" id="labelView-template">
    <div>
        <strong>Labels:  </strong><%=LabelName%>
    </div>
</script>

<script type="text/template" id="labelDropView-template">
    <option value="<%=LabelName%>"><%=LabelName%></option>
</script>

<script type="text/template" id="commentView-template">
    <div>
        <strong>Komentarze:  </strong><%=Text%>
    </div>
</script>

@Html.AddScript("/Parts/Task/Scripts/bb-taskReview.js")
@Html.ExecuteScript("new taskReview.app({TaskId: " + @Model.TaskId + "});")