@model TaskShelf_www.Parts.User.Models.RegisterModel
@{
    Layout = null;
}

<div id="userRegisterbox">
    <h3>REJESTRACJA</h3>
    <div class="row register-row">
        <div class="col-sm-12">
            <input class="form-control input-lg blue-input" type="text" name="Login" placeholder="LOGIN" />
        </div>
    </div>
    <div class="row register-row">
        <div class="col-sm-12">
            <input class="form-control input-lg blue-input" type="password" name="Password" placeholder="HASŁO MIN 5 ZNAKÓW" />
        </div>
    </div>
    <div class="row register-row">
        <div class="col-sm-12">
            <input class="form-control input-lg blue-input" type="password" name="ConfirmPassword" placeholder="POWTÓRZ HASŁO" />
        </div>
    </div>
    <div class="row register-row">
        <div class="col-sm-12">
            <input class="form-control input-lg blue-input blue-input" type="text" name="Name" placeholder="NAZWA UŻYTKOWNIKA" />
        </div>
    </div>
    <div class="row register-row">
        <div class="col-sm-12">
            <input class="form-control input-lg blue-input" type="text" name="Email" placeholder="E-MAIL" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn-lg blue-button">ZAREJESTRUJ</button>
        </div>
    </div>
</div>

@Html.AddScript("/Parts/User/Scripts/bb-userRegisterbox.js")
@Html.ExecuteScript("new userRegisterbox.app();")